{% load staticfiles %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static app_name|add:'/jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static app_name|add:'/bootstrap/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static app_name|add:'/bootstrap/css/bootstrap-theme.min.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static app_name|add:'/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static app_name|add:'/requirejs/require.js' %}" data-main="{% static app_name|add:'/modules/main' %}"></script>-->
    <!--<script type="text/javascript" src="{% static app_name|add:'/js/js.js' %}" data-main="{% static app_name|add:'/modules/main' %}"></script>-->

    <!-- jquery table sorter DataTables -->
    <!--<link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" type="text/css" />-->
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css" type="text/css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    
    <!-- user's files are put at the end -->
    <script type="text/javascript" src="{% static app_name|add:'/js/js.js' %}"></script>
    <link rel="stylesheet" href="{% static app_name|add:'/style/style.css' %}" type="text/css" />
  </head>
  <body>
    <div id="dtm">
      <div id="dtm-header">
	{% block header %}
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'index' %}">miRTex</a>	    
	    </div> <!-- navbar-header -->	  
	    
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      {% if top_form %}
	      <form class="navbar-form navbar-left" role="search" action="{{post_url}}" method="post">{% csrf_token %}
		<div class="form-group relative" id="dtm-top-search">
		  <textarea id="dtm-top-search-input" class="form-control" rows="1" cols="40" placeholder="Search" name="query">{{ original_query }}</textarea>
		</div>
		<button type="submit" class="btn btn-default" id="#dtm-top-search-submit">Submit</button>
	      </form>
	      {% else %}
	      {% endif %}
	      <ul class="nav navbar-nav navbar-right">
		<li><a href="{% url 'contact' %}">Contact</a></li>
		<li><a href="#">Help</a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		  </ul>
		</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div> <!-- container-fluid -->
	</nav>
	{% endblock %}
      </div>
      <div id="dtm-content">
	{% block content %}
	Default Index Page
	{% endblock %}
      </div>
      <div id="dtm-footer">
	<a href="http://www.cis.udel.edu/">Department of Computer Science</a> @ 
	<a href="http://www.udel.edu/">University of Delaware</a>
      </div>
    </div>
  </body>
</html>
