{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static app_name|add:'/brat/style-vis.css' %}"/>
    {#    <script type="text/javascript" src="http://68.80.91.56/brat/collection/jquery-2.1.0.min.js"></script>#}
    <script type="text/javascript" src="{% static app_name|add:'/brat/client/lib/head.load.min.js' %}"></script>
    <script>
        var bratLocation = '{% static app_name|add:'/brat' %}';
        head.js(
                // External libraries
                bratLocation + '/client/lib/jquery.min.js',
                bratLocation + '/client/lib/jquery.svg.min.js',
                bratLocation + '/client/lib/jquery.svgdom.min.js',

                // brat helper modules
                bratLocation + '/client/src/configuration.js',
                bratLocation + '/client/src/util.js',
                bratLocation + '/client/src/annotation_log.js',
                bratLocation + '/client/lib/webfont.js',

                // brat modules
                bratLocation + '/client/src/dispatcher.js',
                bratLocation + '/client/src/url_monitor.js',
                bratLocation + '/client/src/visualizer.js'
        );
        var collData = {
            entity_types: [
                {% for c in entity_categories %}
                    {
                        type: '{{ c }}',
                        labels: ['{{ c }}'],
                        bgColor: '#90ee90',
                        borderColor: 'darken'
                    },
                {% endfor %}
                {#                {#}
                {#                    type: 'Gene',#}
                {#                    labels: ['Gene'],#}
                {#                    bgColor: '#8fb2ff',#}
                {#                    borderColor: 'darken'#}
                {#                },#}
                {#                {#}
                {#                    type: 'Family',#}
                {#                    labels: ['Family', 'Fam'],#}
                {#                    bgColor: '#ffccaa',#}
                {#                    borderColor: 'darken'#}
                {#                },#}
                {#                {#}
                {#                    type: 'Complex',#}
                {#                    labels: ['Complex', 'Com'],#}
                {#                    bgColor: '#f1f447',#}
                {#                    borderColor: 'darken'#}
                {#                },#}
            ],
            event_types: [
                {
                    type: 'Phosphorylation',
                    labels: ['Phosphorylation'],
                    bgColor: 'lightgreen',
                    borderColor: 'darken',
                    arcs: [
                        {type: 'Substrate', labels: ['Substrate']},
                        {type: 'Kinase', labels: ['Kinase']},
                        {type: 'Site', labels: ['Site']}
                    ]
                }
            ]
        };


        var webFontURLs = [
            bratLocation + '/fonts/Astloch-Bold.ttf',
            bratLocation + '/fonts/PT_Sans-Caption-Web-Regular.ttf',
            bratLocation + '/fonts/Liberation_Sans-Regular.ttf'
        ];

        var docList = eval({{ doc_list|safe }});

        head.ready(function () {
            for (var doc in docList) {
                $('#container').append('<div><h3>' + doc + '</h3></div>' + '<div id="pmid-' + doc + '"></div><br />');
                Util.embed('pmid-' + doc, collData, docList[doc], undefined);
            }
        });
    </script>
</head>
<body>
<div id="container"></div>
</body>

</html>
