{% extends app_name|add:"/base.html" %}

{% block content %}
<div id="dtm-index-search" class="container-fluid">
  <div class="row">
    <div id="dtm-index-intro" class="col-md-5">
      <big><b>miRTex</b></big> is a text-mining system that extracts miRNA-gene regulation relations and miRNA-target relations from literature. This website hosts the results produced by miRTex. Currently the database stores <b>7,737</b> PubMed abstracts with <b>15,991</b> unique miRNA-gene regulation pairs and <b>8,808</b> unique miRNA-target pairs. We are working on incoporating the miRTex results for the full-length articles from the PMC Open Access Subset.
    </div>
  </div>
  <div class="row">
    <div id="dtm-index-example" class="col-md-5">
      You can search for a gene, e.g., "BAD", or multiple genes connected by "OR" operator. The query will be sent to PubMed to obtain relevant PMIDs so that PubMed-style query can be used here. Besides, you can also search for a list of PMIDs separated by comma or space, e.g., "22587342, 23981989".
    </div>
  </div>
  <div class="row">
    <div id="dtm-index-corpus" class="col-md-5">
      The development and testing corpus used by miRTex can be viewed and downloaded at <b><a href="http://annotation.dbi.udel.edu/text_mining/corpus/#/miRTex">here</a></b>.
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
    <div id="dtm-index-search-form">
      <form role="form" action="{{post_url}}" method="post">{% csrf_token %}
	<div class="form-group">
	  {{ form.as_p }}
	  <input type="submit" class="btn btn-default" />
	</div>
      </form>
    </div>
</div>
  </div>
</div>
{% endblock %}

