{# display a list of relations, merged by PMID #}
{% extends "gas/base.html" %}

{% block content %}
<div id="gas-search-result-title">
  <small><strong>{{ positive_num }}</strong> of <strong>{{ total_num }}</strong> documents contain <strong>{{ rel_type }}</strong> relations<small>
</div>
<div id="gas-search-result-table">
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>PMID</th>
	{% for category in arg_type %}
	<th>{{ category }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for doc,rels in doc2rel.iteritems %}
      {% if rels|length > 0 %}
      <tr>
	<td rowspan="{{ rels|length }}">{{ doc }}</td>
	{% for arg in rels.0 %}
	{% for category in arg_type %}
	{% if arg.0 == category %}
	<td>{{ arg.1 }}</td>      
	{% endif %}
	{% endfor %}
	{% endfor %}
      </tr>
      {% for rel in rels|slice:"1:" %}    
      <tr>
	{% for arg in rel %}
	{% for category in arg_type %}
	{% if arg.0 == category %}
	<td>{{ arg.1 }}</td>      
	{% endif %}
	{% endfor %}
	{% endfor %}
      </tr>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div> <!-- gas-search-result-table -->
{% endblock %}
